.div1 {
  position: absolute;
  width: 1909px;
  height: 100px;
  left: 3px;
  top: 1px;
  background: #C8DEE3;
}

.div1 h1 {
  position: absolute;
  width: 407px;
  height: 43px;
  left: 40px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 112%;
  color: #000000;
}

